<footer class="footer">
  <small>
    Digital Hospital
    by Alexander Beytuk
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'http://github.com/alextheking/digital-hospital' %></li>
      <li><%= link_to "Contact", 'mailto:alexbeytuk@gmail.com' %></li>
    </ul>
  </nav>
</footer>